@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');



body{
  font-family: 'Roboto Mono', monospace !important;
}

/* NavBar */
.logo {
  width: 8rem;
}

nav.navbar.navbar-expand-lg {
  background-color: #041b2d;
}

/* NavLinks */
nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
  font-size: 1.0rem;
}

.navbar-nav > li > a {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  color: #428cd4 !important;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0.50rem !important;
}

.sr-only{
  font-size: 0.60rem;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  color: #ea4492 !important;
}

.navbar-nav > li > a:hover {
  color: #ea4492 !important;
}

/* Home Page */
.home-page {
  position: relative;
  background: url(background.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 27rem;
  margin: auto;
}

.info {
  padding-top: 10rem;
}

div {
  color: #ff9cda;
}

.my-img {
  width: 8rem;
  border-radius: 50%;
  margin: auto;
  display: flex;
  border: 0.1rem solid #041b2d;

}

/* 
Dark Blue #041B2D
Medium Blue #004E9A
Light Blue #428CD4
Light Pink #FF9CDA
Dark Pink #EA4492
*/